UL#menu {
    margin: 0; padding: 0;
}

UL#menu > LI {
    list-style: none;
    width: 100px;
    background: #b3d9d2;
    color: #333;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 90%;
    font-weight: bold;
    float: left;
}

LI > UL {
    list-style: none;
    margin: 0; padding: 0;
    border-bottom: 1px solid #666;
    padding-top: 5px;
}

LI > A {
    display: block;
    font-weight: normal;
    font-size: 90%;
    background: #fff;
    border: 1px solid #666;
    border-bottom: none;
    padding: 5px;
}